.email {
  max-width: 950px;
  text-align: center;
  padding-top: 14px;
  position: relative;

  &-title {
    font-size: 19px;
    max-width: none;
    padding-bottom: 20px;
    font-weight: 400;
    margin: 0 auto;
  }
  &-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }
  &-input {
    position: relative;
    width: 100%;
    max-width: 500px;

    &__placeholder {
      position: absolute;
      left: 10px;
      top: 50%;
      color: #8c8c8c;
      font-size: 16px;
      transform: translateY(-50%);
      transition: font .1s ease,top .1s ease,transform .1s ease;
      z-index: 1;
      user-select: none;
      pointer-events: none;
    }

    input {
      height: 70px;
      width: 100%;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      padding: 10px 10px 0;
      outline: none;
      appearance: none;
      border: 1px solid #8c8c8c;
      box-sizing: border-box;
      color: #000;
      display: block;
      font-size: 16px;

      &:focus {
        border-color: #0071eb;
      }
      &:focus + .email-input__placeholder {
        font-size: 13px;
        font-weight: 600;
        top: 6px;
        transform: translateY(0);
      }
    }
  }
  &-submit {
    border: none;
    padding: 0 30px;
    border-left: 1px solid #333;
    margin: 0;
    flex: none;
    min-height: 70px;
    background-color: #e50914;
    background-image: linear-gradient(180deg,#e50914,#db0510);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    display: flex;
    align-items: center;

    &__text {
      font-size: 30px;
      color: #fff;
      flex: none;
    }
    &__icon {
      flex: 0 1 auto;
      height: 23px;
      margin: 0 0 0 15px;
      position: relative;
      width: 12px;

      svg {
        height: 100%;
        left: 0;
        margin: 1px 0;
        position: absolute;
        top: 0;
        transform: scaleX(1);

        path {
          fill: #fff;
        }
      }
    }

    &:hover {
      background: #f40612;
      box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    }
  }
  &-warn {
    position: absolute;
    left: 0;
    bottom: -24px;
    color: #ffa00a;
    font-size: 15px;
    margin-bottom: -6px;
    padding: 6px 3px;
    text-align: left;
  }
}

@media (max-width: 950px) {
  .email {
    padding-top: 0;

    &-title {
      max-width: 450px;
      font-size: 23px;
      padding-bottom: 8px;
    }
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
    }
    &-input {
      input {
        height: 60px;
      }
    }
    &-submit {
      padding: 0 16px;
      font-size: 1rem;
      min-height: 40px;

      &__text {
        font-size: 16px;
        flex: 1 1 auto;
        padding: 5.6px 0;
        text-align: center;
        line-height: normal;
      }
      &__icon {
        height: 12px;
        margin: 0 0 0 8px;
        position: relative;
        width: 6px;
      }
    }
  }
}
@media (max-width: 740px) {
  .email {
    &-title {
      font-size: 18px;
    }
    &-input {

      &__placeholder {
        font-size: 14px;
      }
      input {
        height: 48px;

        &:focus + .email-input__placeholder {
          font-size: 11px;
          font-weight: 400;
        }
      }
    }
  }
}