.header {
  background-color: transparent;
  bottom: 0;
  height: 72px;
  left: 0;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 20px;
  position: relative;
  right: 0;
  top: 0;
  transition: background-color .5s;
  width: 100%;
  z-index: 10;

  &-wrapper {
    margin: 0 56px;
    display: flex;
    align-items: self-start;
    padding-top: 8px;
    z-index: 2;
  }
  &-logo {
    user-select: none;
    pointer-events: none;
    height: 45px;
    width: 167px;
    position: relative;
    margin-right: auto;
  }
  &-action {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    &__picker {
      padding: 8px 22px;
      font-size: 14px;
      line-height: 18px;
      background: rgba(0,0,0,.4);
      border: 1px solid #aaa;
      font-weight: 500;
      color: #fff;

      &:focus-visible {
        outline: none;
      }
      &:focus {
        outline: #fff 1px solid;
      }
    }
    &__link {
      background: $brand-primary;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      padding: 7px 17px;
      border-radius: 3px;
    }
  }
}