.home {
  display: flex;
  flex-direction: column;
  background-color: #000;

  &__sections {
    display: flex;
    flex-direction: column;
  }
  &__card {
    background: transparent;
    border-bottom: 8px solid $brand-border;
    color: #fff;
    margin-bottom: 0;
    padding: 70px 45px;
    position: relative;
  }
  &__feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;

    &-content {
      margin: -5% 0;
      flex: 0 1 auto;
      height: 100%;
      width: 52%;
      z-index: 3;
      font-size: 26px;
      font-weight: 400;
    }
    &-title {
      font-size: 50px;
      font-weight: 500;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 8px;
    }
    &-description {
      font-size: 26px;
      font-weight: 400;
      margin: 20px 0 6px;
    }
    &-card {
      box-sizing: border-box;
      display: flex;
      flex: 0 1 auto;
      height: 100%;
      width: 48%;
    }
  }
}
@media (max-width: 950px) {
  .home {
    &__feature {
      flex-direction: column !important;

      &-content {
        width: 100%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
      }
      &-title {
        font-size: 40px;
      }
      &-description {
        font-size: 20px;
        margin: 15px 0 5px;
      }
      &-card {
        margin-top: 16px;
        max-width: 600px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 550px) {
  .home {
    &__card {
      padding: 50px 5%;

      &-faq {
        padding: 50px 0;
      }
    }
    &__feature {
      &-title {
        font-size: 26px;
      }
    }
  }
}