//NetflixSans
//Regular
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
//Light
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Light.woff2');
  font-weight: 300;
  font-style: normal;
}
//Medium
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
//Bold
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('../public/fonts/netfilix/NetflixSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

//Helvetica Neue
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica-Compressed.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica-Oblique.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica-BoldOblique.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../public/fonts/helvetica/Helvetica-RoundedBold.otf');
  font-weight: 700;
  font-style: normal;
}
